### Create the dim_date DataFrame from the sales dataset

In [1]:
import pandas as pd

df = pd.read_csv('Sample_ Superstore.csv')

In [2]:
raw_df = df.copy()
raw_df.shape

(9994, 19)

In [3]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:new_password@localhost:5432/Superstore_db")

In [4]:
raw_df = pd.read_csv('Sample_ Superstore.csv')

In [5]:
raw_df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Segment', 'Country', 'City', 'State', 'Region',
       'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales',
       'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [6]:
dim_date  = raw_df[['Order Date']].drop_duplicates().reset_index(drop=True)

In [7]:
raw_df["Order Date"] = pd.to_datetime(
    raw_df["Order Date"],
    errors="coerce",
    format="mixed"
)
dim_date["Order Date"] = pd.to_datetime(
    dim_date["Order Date"],
    errors="coerce",
    format="mixed"
)
#dim_date["Order Date"].dtype # datetime64[ns]

In [8]:
print(raw_df["Order Date"].dtype)
print(raw_df["Order Date"].isna().sum())
print(dim_date["Order Date"].isna().sum())

datetime64[ns]
0
0

### create dim_date table without null values

In [9]:
dim_date = raw_df[["Order Date"]].dropna().drop_duplicates() #create dim_date table without null values

In [10]:
dim_date["day"] = dim_date["Order Date"].dt.day
dim_date["month"] = dim_date["Order Date"].dt.month
dim_date["year"] = dim_date["Order Date"].dt.year
dim_date["quarter"] = dim_date["Order Date"].dt.quarter
dim_date["day_name"] = dim_date["Order Date"].dt.day_name()
dim_date.head()

   Order Date  day  month  year  quarter  day_name
0  2016-11-08    8     11  2016        4   Tuesday
2  2016-06-12   12      6  2016        2    Sunday
3  2015-10-11   11     10  2015        4    Sunday
5  2014-06-09    9      6  2014        2    Monday
12 2017-04-15   15      4  2017        2  Saturday

In [11]:
dim_date = dim_date.rename(columns={"Order Date": "date"})
print(dim_date.head())
print(dim_date.shape)

         date  day  month  year  quarter  day_name
0  2016-11-08    8     11  2016        4   Tuesday
2  2016-06-12   12      6  2016        2    Sunday
3  2015-10-11   11     10  2015        4    Sunday
5  2014-06-09    9      6  2014        2    Monday
12 2017-04-15   15      4  2017        2  Saturday
(1237, 6)

#### LOAD INTO POSTGRES

In [12]:
existing_dates = pd.read_sql("SELECT date FROM dim_date", engine)

In [13]:
dim_date_to_insert = dim_date[
    ~dim_date["date"].isin(existing_dates["date"])
]
print(dim_date_to_insert.shape)
dim_date_to_insert.columns

(0, 6)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13128\2411129342.py:2: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  ~dim_date["date"].isin(existing_dates["date"])

Index(['date', 'day', 'month', 'year', 'quarter', 'day_name'], dtype='object')

In [14]:
dim_date = raw_df[['Order Date']].copy()

dim_date['date'] = pd.to_datetime(
    dim_date['Order Date'],
    format='mixed',
    errors='coerce'
)

dim_date = dim_date.dropna(subset=['date'])
dim_date = dim_date.drop_duplicates(subset=['date'])

dim_date['year'] = dim_date['date'].dt.year
dim_date['month'] = dim_date['date'].dt.month
dim_date['quarter'] = dim_date['date'].dt.quarter
dim_date['day'] = dim_date['date'].dt.day
dim_date['day_name'] = dim_date['date'].dt.day_name()

dim_date = dim_date[[
    'date', 'year', 'month', 'quarter', 'day', 'day_name'
]]

In [15]:
dim_date.to_sql(
    'dim_date',
    engine,
    if_exists='append',
    index=False
)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "dim_date_date_key"
DETAIL:  Key (date)=(2016-11-08) already exists.

[SQL: INSERT INTO dim_date (date, year, month, quarter, day, day_name) VALUES (%(date__0)s, %(year__0)s, %(month__0)s, %(quarter__0)s, %(day__0)s, %(day_name__0)s), (%(date__1)s, %(year__1)s, %(month__1)s, %(quarter__1)s, %(day__1)s, %(day_name__1)s), (%(d ... 98060 characters truncated ... ), (%(date__999)s, %(year__999)s, %(month__999)s, %(quarter__999)s, %(day__999)s, %(day_name__999)s)]
[parameters: {'quarter__0': 4, 'date__0': datetime.datetime(2016, 11, 8, 0, 0), 'year__0': 2016, 'month__0': 11, 'day_name__0': 'Tuesday', 'day__0': 8, 'quarter__1': 2, 'date__1': datetime.datetime(2016, 6, 12, 0, 0), 'year__1': 2016, 'month__1': 6, 'day_name__1': 'Sunday', 'day__1': 12, 'quarter__2': 4, 'date__2': datetime.datetime(2015, 10, 11, 0, 0), 'year__2': 2015, 'month__2': 10, 'day_name__2': 'Sunday', 'day__2': 11, 'quarter__3': 2, 'date__3': datetime.datetime(2014, 6, 9, 0, 0), 'year__3': 2014, 'month__3': 6, 'day_name__3': 'Monday', 'day__3': 9, 'quarter__4': 2, 'date__4': datetime.datetime(2017, 4, 15, 0, 0), 'year__4': 2017, 'month__4': 4, 'day_name__4': 'Saturday', 'day__4': 15, 'quarter__5': 4, 'date__5': datetime.datetime(2016, 12, 5, 0, 0), 'year__5': 2016, 'month__5': 12, 'day_name__5': 'Monday', 'day__5': 5, 'quarter__6': 4, 'date__6': datetime.datetime(2015, 11, 22, 0, 0), 'year__6': 2015, 'month__6': 11, 'day_name__6': 'Sunday', 'day__6': 22, 'quarter__7': 4, 'date__7': datetime.datetime(2014, 11, 11, 0, 0), 'year__7': 2014, 'month__7': 11, 'day_name__7': 'Tuesday', 'day__7': 11, 'quarter__8': 2, 'date__8': datetime.datetime(2014, 5, 13, 0, 0) ... 5900 parameters truncated ... 'day_name__991': 'Sunday', 'day__991': 2, 'quarter__992': 2, 'date__992': datetime.datetime(2014, 5, 30, 0, 0), 'year__992': 2014, 'month__992': 5, 'day_name__992': 'Friday', 'day__992': 30, 'quarter__993': 2, 'date__993': datetime.datetime(2016, 4, 26, 0, 0), 'year__993': 2016, 'month__993': 4, 'day_name__993': 'Tuesday', 'day__993': 26, 'quarter__994': 1, 'date__994': datetime.datetime(2016, 1, 10, 0, 0), 'year__994': 2016, 'month__994': 1, 'day_name__994': 'Sunday', 'day__994': 10, 'quarter__995': 3, 'date__995': datetime.datetime(2016, 7, 31, 0, 0), 'year__995': 2016, 'month__995': 7, 'day_name__995': 'Sunday', 'day__995': 31, 'quarter__996': 1, 'date__996': datetime.datetime(2017, 3, 27, 0, 0), 'year__996': 2017, 'month__996': 3, 'day_name__996': 'Monday', 'day__996': 27, 'quarter__997': 4, 'date__997': datetime.datetime(2015, 12, 17, 0, 0), 'year__997': 2015, 'month__997': 12, 'day_name__997': 'Thursday', 'day__997': 17, 'quarter__998': 4, 'date__998': datetime.datetime(2015, 10, 10, 0, 0), 'year__998': 2015, 'month__998': 10, 'day_name__998': 'Saturday', 'day__998': 10, 'quarter__999': 2, 'date__999': datetime.datetime(2015, 4, 24, 0, 0), 'year__999': 2015, 'month__999': 4, 'day_name__999': 'Friday', 'day__999': 24}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [16]:
raw_df["Order Date"] = raw_df["Order Date"].astype(str).str.strip()

In [17]:
raw_df["Order Date"].head(10)

0    2016-11-08
1    2016-11-08
2    2016-06-12
3    2015-10-11
4    2015-10-11
5    2014-06-09
6    2014-06-09
7    2014-06-09
8    2014-06-09
9    2014-06-09
Name: Order Date, dtype: object

In [18]:
raw_df["Order Date"].isna().sum()

0

In [19]:

# Convert to datetime
dim_date_clean = pd.DataFrame()
dim_date_clean['full_date'] = pd.to_datetime(df['Order Date'].dropna().unique())

# Generate additional columns
dim_date_clean['date_id'] = dim_date_clean['full_date'].dt.strftime('%Y%m%d').astype(int)
dim_date_clean['day'] = dim_date_clean['full_date'].dt.day
dim_date_clean['month'] = dim_date_clean['full_date'].dt.month
dim_date_clean['month_name'] = dim_date_clean['full_date'].dt.strftime('%b')
dim_date_clean['quarter'] = dim_date_clean['full_date'].dt.quarter
dim_date_clean['year'] = dim_date_clean['full_date'].dt.year
dim_date_clean['day_of_week'] = dim_date_clean['full_date'].dt.strftime('%A')
dim_date_clean['weeknum'] = dim_date_clean['full_date'].dt.isocalendar().week

# Optional: keep only unique dates
dim_date_clean = dim_date_clean.drop_duplicates(subset=['date_id'])

ValueError: time data "4/15/2017" doesn't match format "%m-%d-%Y", at position 4. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.