In [23]:
import pandas as pd

df = pd.read_csv("Sample_ Superstore.csv")
df.head()
df.shape

(9994, 19)

In [24]:
pip install sqlalchemy psycopg2-binary pandas

Requirement already satisfied: sqlalchemy in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (2.0.46)
Requirement already satisfied: psycopg2-binary in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (2.9.10)
Requirement already satisfied: pandas in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (2.2.3)
Requirement already satisfied: greenlet>=1 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### Connect to PostgreSQL

In [25]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:new_password@localhost:5432/Superstore_db")

In [26]:
engine = create_engine("postgresql://postgres:new_password@localhost:5432/Superstore_db")

In [27]:
engine.connect()

In [28]:
# Further data cleaning and preprocessing steps would go here
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:new_password@localhost:5432/Superstore_db")

# Test connection
connection = engine.connect()
print("Connection successful")

Connection successful

In [29]:
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:new_password@127.0.0.1:5432/Superstore_db"
)

# Test connection
connection = engine.connect()
print("Connection successful")

Connection successful

### Verify dataset loading in Python

In [30]:
import pandas as pd

df = pd.read_csv("Sample_ Superstore.csv")  # exact filename
print(df.shape)
print(df.head(2))

(9994, 19)
   Row ID        Order ID  Order Date   Ship Date     Ship Mode Customer ID  \
0       1  CA-2016-152156  11-08-2016  11-11-2016  Second Class    CG-12520
1       2  CA-2016-152156  11-08-2016  11-11-2016  Second Class    CG-12520

    Segment        Country       City     State Region       Product ID  \
0  Consumer  United States  Henderson  Kentucky  South  FUR-BO-10001798
1  Consumer  United States  Henderson  Kentucky  South  FUR-CH-10000454

    Category Sub-Category                                       Product Name  \
0  Furniture    Bookcases                  Bush Somerset Collection Bookcase
1  Furniture       Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...

    Sales  Quantity  Discount    Profit
0  261.96         2       0.0   41.9136
1  731.94         3       0.0  219.5820

In [31]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Segment', 'Country', 'City', 'State', 'Region',
       'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales',
       'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [32]:
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11-08-2016,11-11-2016,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11-08-2016,11-11-2016,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,06-12-2016,6/16/2016,Second Class,DV-13045,Corporate,United States,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10-11-2015,10/18/2015,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10-11-2015,10/18/2015,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Consumer,United States,Miami,Florida,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2/26/2017,03-03-2017,Standard Class,DB-13060,Consumer,United States,Costa Mesa,California,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2/26/2017,03-03-2017,Standard Class,DB-13060,Consumer,United States,Costa Mesa,California,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2/26/2017,03-03-2017,Standard Class,DB-13060,Consumer,United States,Costa Mesa,California,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,05-04-2017,05-09-2017,Second Class,CC-12220,Consumer,United States,Westminster,California,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [33]:
df.shape

(9994, 19)

In [34]:
df.describe()

            Row ID         Sales     Quantity     Discount       Profit
count  9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   4997.500000    229.858001     3.789574     0.156203    28.656896
std    2885.163629    623.245101     2.225110     0.206452   234.260108
min       1.000000      0.444000     1.000000     0.000000 -6599.978000
25%    2499.250000     17.280000     2.000000     0.000000     1.728750
50%    4997.500000     54.490000     3.000000     0.200000     8.666500
75%    7495.750000    209.940000     5.000000     0.200000    29.364000
max    9994.000000  22638.480000    14.000000     0.800000  8399.976000

### Select customer-related columns
### Loading dim_customer to Database

In [35]:
dim_customer = df[
    ["Customer ID", "Segment", "City", "State", "Country"]
].drop_duplicates()
dim_customer.shape

(4688, 5)

In [36]:
dim_customer.columns

Index(['Customer ID', 'Segment', 'City', 'State', 'Country'], dtype='object')

In [37]:
dim_customer

     Customer ID    Segment             City           State        Country
0       CG-12520   Consumer        Henderson        Kentucky  United States
2       DV-13045  Corporate      Los Angeles      California  United States
3       SO-20335   Consumer  Fort Lauderdale         Florida  United States
5       BH-11710   Consumer      Los Angeles      California  United States
12      AA-10480   Consumer          Concord  North Carolina  United States
...          ...        ...              ...             ...            ...
9986    ML-17410   Consumer      Los Angeles      California  United States
9987    RA-19885  Corporate           Athens         Georgia  United States
9989    TB-21400   Consumer            Miami         Florida  United States
9990    DB-13060   Consumer       Costa Mesa      California  United States
9993    CC-12220   Consumer      Westminster      California  United States

[4688 rows x 5 columns]

### Renaming the Columns

In [38]:
dim_customer.columns = [
    "customer_id",
    "segment",
    "city",
    "state",
    "country"
]

In [39]:
dim_customer.shape

(4688, 5)

In [40]:
dim_customer["customer_id"].isna().sum()

0

In [41]:
dim_customer["customer_id"].nunique()

793

In [42]:
dim_customer_clean = (
    dim_customer
    .sort_values("customer_id")
    .drop_duplicates(subset="customer_id", keep="first")
)
dim_customer_clean.shape

(793, 5)

In [43]:
dim_customer_clean["customer_id"].nunique()

793

### load dim_customer_clean to database

## dim_customer loaded successfully to Database

In [45]:
# Keep only unique customers in your new DataFrame
dim_customer_unique = dim_customer_clean.drop_duplicates(subset=['customer_id'])

# Fetch existing customer_ids from DB
existing_ids = pd.read_sql("SELECT customer_id FROM dim_customer", engine)

# Filter out already existing customers
dim_customer_to_insert = dim_customer_unique[
    ~dim_customer_unique['customer_id'].isin(existing_ids['customer_id'])
]

# Insert only new rows
dim_customer_to_insert.to_sql(
    'dim_customer',
    engine,
    if_exists='append',
    index=False
)

0